[flake8]
ignore = C101,D483,F403,F405,I100,I201,W503,W504,Q000
exclude =
    .git,
    __pycache__,
    venv
filename = *.py
accept-encoding = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
per-file-ignores =
    chaotixcore/project/settings/template/settings.dev.py: F821
